* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2e2e;
    min-height: 100vh;
    transition: 0.5s;
}

body.active {
    background-color: white;
}

#toggle {  /* caja para el boton */
    position: relative;
    display: block;
    width: 320px;
    height: 160px;
    border-radius: 160px;
    background: #423e3e;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 40px;
}

#toggle .botton {   
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px; /* posicion y diseno circular */
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px;
    transition: 0.5s;
}

#toggle.active .botton {
    left: 160px;
}